@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}



.container{
   max-width: 1160px;
   margin: 20px auto 0px auto;
   background-color: #FFFFFF;
}
hr{
    display: none;
}
.horizontal{
    height: 102px;
}

.font-familly{
    font-family: "Quicksand", serif;
}






/*=============== Header Part Start ===============*/

.navber{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo_part{
    display: flex;
    gap: 11px;
    align-items: center;
}
.logo_part img{
     max-width: 62px;
}
.menu{
  display: none;
}
.menu i{
    font-size: 30px;
    color: rgb(0, 0, 0);
}

.logo_text{
    font-size: 2rem;
    font-weight: 700;
    color: black;
    line-height: 30px;
}
.navber ul{
    display: flex;
    gap: 32px;
}
.navber ul li{
    list-style: none;
}
.navber ul li a{
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 30px;

}

.nav_btn{
   padding: 10px 60.5px;
   background-color: #FEA301;
   color: #FFFFFF;
   font-size: 1.25rem;
   font-weight: 600;
   line-height: 30px;
   border-radius: 12px;
   border: none;
   cursor: pointer;
   position: relative;
   z-index: 1;
}
.nav_btn:hover{
    color: #ffffff;
}
.nav_btn::before{
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #5D58EF;
    position: absolute;
    border-radius: 12px;
    z-index: -1;
    transform:scaleX(0);
    transition: transform 0.6s;
    transform-origin: 1 1;
    transition-timing-function: 0.4, 0.5, 0.6, 0.7;
}
.nav_btn:hover::before{
    transform:scaleX(1);
}

/*=============== Header Part End ===============*/
/*=============== Banner Part Start ===============*/

.banner{
    display: flex;
    justify-content: space-between;
    gap: 50px;
}
.banner_text{
    max-width: 640px;
    padding: 122px 0px;
}
.banner_title{
    font-size: 3.5rem;
    font-weight: 700;
    color: black;
    line-height: 61px;
    margin-bottom: 24px;
}
.orange{
    color: #FEA301;
}
.skyblow{
    color: #01ACFD;
}
.banner_about{
    font-size: 1.25rem;
    font-weight: 400;
    color: black;
    margin-bottom: 24px;
}
.banner_btn{
    font-size: 1.25rem;
    font-weight: 700;
    color: #FFFFFF;
    background-color: black;
    padding: 10px 47px;
    border-radius: 12px;
    border: none;
    cursor: pointer;
    position: relative;
    z-index: 1;
}
.banner_btn::before{
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #FEA301;
    border-radius: 12px;
    position: absolute;
    transform: scaleX(0);
    transition: transform 0.6s;
    transform-origin: 1 1;
    transition-timing-function: 0.4, 0.5, 0.6, 0,7;
    z-index: -1;
}
.banner_btn:hover::before{
    transform: scaleX(1);
}

.banner_image{
    max-width: 468px;
}
.banner_image img{
    width: 100%;
}

/*=============== Banner Part End ===============*/
/*=============== Curriculum Part Start ===============*/

.Curriculum{
    padding: 60px 0px;
    background-image: url('../Photo/bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.Curriculum_h2{
    text-align: center;
    font-size: 2.87rem;
    font-weight: 700;
    color: #000000;
    line-height: 57px;
    margin-bottom: 80px;
}

.Curriculum_curds{
    max-width: 1160px;
    margin: 0 auto;
    display: grid;
    gap: 28.29px;
    grid-template-columns: repeat(3, 1fr);
}

.curlm_card{
    max-width: 367.8px;
    padding: 53px 40.5px;
    border-radius: 18.86px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    transition: 0.4s linear;
}
.shadow_1{
    background: linear-gradient( rgba(222, 245, 255, 1) 0%, rgba(255, 255, 255, 0) 40%);
    background-color: #FFFFFF;
    border: 0.94px solid #DEF5FF;
    box-shadow: inset 0px 0px 28.3px rgba(0, 0, 0, 0.05);
}
.shadow_1:hover{
    background: linear-gradient( rgb(158, 225, 254) 0%, rgba(255, 255, 255, 0) 40%);
    box-shadow: inset 0px 0px 28.3px rgba(0, 0, 0, 0.105);
    background-color: #ffffff;
}
.shadow_2{
    background: linear-gradient( rgba(255, 244, 220, 1) 0%, rgba(255, 255, 255, 0) 40%);
    border: 0.94px solid #FFF4DC;
    background-color: #FFFFFF;
   box-shadow: inset 0px 0px 28.3px rgba(0, 0, 0, 0.05);
}
.shadow_2:hover{
    background: linear-gradient( rgb(255, 224, 158) 0%, rgba(255, 255, 255, 0) 40%);
    box-shadow: inset 0px 0px 28.3px rgba(0, 0, 0, 0.105);
    background-color: #ffffff;
    
}
.shadow_3{
    background: linear-gradient( rgba(238, 225, 255, 1) 0%, rgba(255, 255, 255, 0) 40%);
    border: 0.94px solid #F2E8FF;
    background-color: #FFFFFF;
    box-shadow: inset 0px 0px 28.3px rgba(0, 0, 0, 0.05);
}
.shadow_3:hover{
    background: linear-gradient( rgb(200, 158, 255) 0%, rgba(255, 255, 255, 0) 40%);
    box-shadow: inset 0px 0px 28.3px rgba(0, 0, 0, 0.105);
    background-color: #ffffff;
    
}
.curlm_image{
    max-width: 138px;
    margin-bottom: 32px;
    transition: 0.4s linear;
}
.shadow_1 img{
    transition: 0.4s linear;
}
.shadow_1:hover img{
    transform: scale(1.1);
}
.shadow_2 img{
    transition: 0.4s linear;
}
.shadow_2:hover img{
    transform: scale(1.1);
}
.shadow_3 img{
    transition: 0.4s linear;
}
.shadow_3:hover img{
    transform: scale(1.1);
}


.shadow_1 a{
    transition: 0.2s linear;
    border-bottom:2px solid #FFFFFF;
}
.shadow_1:hover a{
    border-bottom:2px solid #01ACFD;
}
.shadow_2 a{
    transition: 0.2s linear;
    border-bottom:2px solid #FFFFFF;
}
.shadow_2:hover a{
    border-bottom:2px solid #FEA301;
}
.shadow_3 a{
    transition: 0.2s linear;
    border-bottom:2px solid #FFFFFF;
}
.shadow_3:hover a{
    border-bottom:2px solid #8700FF;
}



.curlm_image img{
    width: 100%;
}


.curlm_h3{
    font-size: 1.5rem;
    font-weight: 700;
    color: #202020;
    line-height: 30.7px;
    margin-bottom: 33.5px;
}
.curlm_p{
    font-size: 0.95rem;
    font-weight: 400;
    color: #808080;
    line-height: 28.33px;
    margin-bottom: 33.5px;
}
.curlm_card a{
    text-decoration: none;
    font-size: 0.95rem;
    font-weight: 700;
    line-height: 28.33px;
}
.arow{
    margin-top: 80px;
    display: flex;
    gap: 10px;
    justify-content: center;
}
.arow a{
     width: 60px;
     height: 60px;
     display: flex;
     justify-content: center;
     align-items: center;
     color: #FFFFFF;
     background-color: #FEA301;
     border-radius: 50%;
     text-decoration: none;
     cursor: pointer;
     border: 2px solid #FEA301;
     transition: 0.2s linear;
}
.arow a:hover{
     color: #FEA301;
     background-color: #FFFFFF;
     border: 2px solid #FEA301;
}

/*=============== Curriculum Part End ===============*/
/*=============== Stories Part Start ===============*/


.Stories{
    background: linear-gradient(#FFFFFF 0%, hsla(38, 99%, 50%, 0.502) 100%), url(../Photo/bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.Stories{
    padding: 60px 0px;
}
.Stories_h3{
    font-size: 3rem;
    font-weight: 700;
    color: #000000;
    line-height: 57.5px;
    margin-bottom: 80px; 
    text-align: center;
}
.Stories_cards{
    max-width: 1160px;
    margin: 0 auto;
    display: flex;
    gap: 18px;
    justify-content: space-between;
}
.big_card{
    max-width: 540.27px;
    border-radius: 16px;
    background-color: #FFFFFF;
    position: relative;
}
.big_image{
    max-width: 540px;
    max-height: 337px;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    overflow: hidden;
}
.big_image img{
    width: 100%;
}
.big_text{
    max-width: 463px;
    margin: 0 auto;
}
.big_h4{
    font-size: 1.5rem;
    font-weight: 700;
    color: #000000;
    line-height: 38.3px;
    margin-top: 61.5px; 
    margin-bottom: 51.5px; 
}
.big_p{
    font-size: 1rem;
    font-weight: 500;
    color: #666666;
    line-height: 28.8px; 
    margin-bottom: 34.52px; 
}
.position a{
    font-size: 1rem;
    font-weight: 500;
    color: #FFFFFF;
    font-family: "Raleway", serif;
    line-height: 28.8px; 
    margin-bottom: 34.5px; 
    padding: 14.5px 19px;
    background-color: #3CD8E8;
    border-radius: 47.93px;
    text-decoration: none;
}
.position{
    position: absolute;
    top: 324px;
    left: 38.35px;
}

.small_cards{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 19px;
}

.sml_card{
    max-width: 290.70px;
    border-radius: 16px;
    background-color: #FFFFFF;
    position: relative;
}
.sml_image{
    max-width: 291px;
    max-height: 177px;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    overflow: hidden;
}
.sml_image img{
    width: 100%;
}

.sml_h5{
    max-width: 214px;
    margin: 0px 38px 28px 38px;
    font-size: 1rem;
    font-weight: 700;
    color: #000000;
    line-height: 28.8px;
    margin-top: 38.33px;
}
.sml_card a{
    font-size: 1rem;
    font-weight: 500;
    color: #FFFFFF;
    font-family: "Raleway", serif;
    line-height: 28.8px; 
    padding: 10px 19px;
    background-color: #5D58F0;
    border-radius: 47.93px;
    text-decoration: none;
    position: absolute;
    top: 155px;
    left: 38.35px;
}

.scale img{
    transition: 0.5s linear;
}
.scale:hover img{
    transform: scale(1.1);
}
.sml_image, .big_image{
    overflow: hidden;
}
.view_buttton{
    margin-top: 80px;
    text-align: center;
}
.view_btn{
    padding: 10px 61px;
    font-size: 1.25rem;
    font-weight: 700;
    color: #FFFFFF;
    background-color: black;
    border-radius: 12px;
    line-height: 30px;
    border: none;
    cursor: pointer;
    position: relative;
    z-index: 1;
}
.view_btn::before{
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #FEA301;
    border-radius: 12px;
    position: absolute;
    transform: scaleY(0);
    transition: transform 0.6s;
    transform-origin: 1 1;
    transition-timing-function: 0.4, 0.5, 0.6, 0,7;
    z-index: -1;
}
.view_btn:hover::before{
    transform: scaleY(1);
}

.none_block{
    display: none;
}

/*=============== Stories Part End ===============*/
/*=============== footer Part Start ===============*/

.footer{
    background-color: #01ACFD;
    padding: 125px 140px 50px 140px;
}
.futer_part{
    max-width: 1071px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.logo_title{
    display: flex;
    gap: 10px;
}
.logo_title img{
    width: 82px;
    background-color: #FFFFFF;
    margin-bottom: 35px;
}
.title_h3{
    max-width: 206px;
    font-size: 2.6rem;
    font-weight: 700;
    color: #FFFFFF;
    line-height: 39.5px;
}
.describe{
    max-width: 390px;
    font-size: 1.2rem;
    font-weight: 400;
    color: #FFFFFF;
}
.menu_h4{
    font-size: 1.5rem;
    font-weight: 700;
    color: #FFFFFF;
    margin-bottom: 32px;
}
.menu_part ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.menu_part ul li{
    list-style: none;
}
.menu_part ul li a{
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 500;
    color: #FFFFFF;
    border-bottom: 2px solid #01ACFD;
    transition: 0.3s linear;
    
}
.menu_part ul li a:hover{
    border-bottom: 2px solid #FFFFFF;

}
.Cont_h6{
    font-size: 1.6rem;
    font-weight: 700;
    color: #FFFFFF;
    line-height: 26px;
    margin-bottom: 32px;
}
.contuct_logo{
    display: flex;
    gap: 10.15px;
}
.contuct_logo img{
    max-width: 40.61px;
    transition: 0.2s linear;
    
}
.contuct_logo img:hover{
    opacity: 50%;
}

.copyright{
    max-width: 100%;
    margin-top: 100px;
    text-align: center;
}
.copyright h6{
    font-size: 1rem;
    font-weight: 500;
    color: #FFFFFF;
    line-height: 26px;
}


/*=============== footer Part End ===============*/